# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
ENV/
env/
.venv/
.venv/
env.bak/
.env.bak/

# Flask specific
instance/
.python-eggs

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log
*.out
*.err

# Editor directories and files
.vscode/
.idea/
.project
.pydevproject

# Mac specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
